#landing {
    height: 120vh;
    padding-top: 12vh;
    position: relative;
    overflow-x: hidden;

    // border-bottom: 1px solid red;

    $hm: 8rem; //hero margin

    .hero {
        position: absolute;
        left: 0;
        top: 12vh;
        height: 88vh;
        width: auto;
        display: flex;
        // transition: .5s;
        z-index: 1;


        // &:active {
        //     left: -100vw;
        // }
        
        .hero-card {
            border-radius: 48px;
            display: flex;
            width: calc(100vw - $hm*2);
            margin: 0 $hm;

            background: #070518 no-repeat center center;
            background-size: cover;
            box-shadow: 0px 0px 100px 24px rgba(#0DCDBA, .4);
            transform-origin: center bottom;

            &:nth-child(1) {
                background-image: url("/src/assets/hero-1.png");
            }
            &:nth-child(2) {
                background-image: url("/src/assets/hero-2.png");
            }
            &:nth-child(3) {
                background-image: url("/src/assets/hero-3.png");
            }
            &:nth-child(4) {
                background-image: url("/src/assets/hero-4.png");
            }
        }
    }
    
    .content {
        z-index: 2;
        position: relative;
        height: 88vh;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        gap: 2rem;
        padding-bottom: 12vh;
        pointer-events: none;

        h1 {
            // font-weight: bold;
            text-transform: uppercase;
            font-size: 1.2rem;
            letter-spacing: 2px;
            text-shadow:
            /* White glow */
            0 0 7px #ffffff33,
            0 0 10px #ffffff33,
            0 0 21px #ffffff33,
            /* Green glow */
            0 0 4px #0DCDBA,
            0 0 24px #0DCDBA,
            0 0 48px #0DCDBA,
            0 0 64px #0DCDBA,
            0 0 96px #0DCDBA,
        }
        
        .cta {
            display: flex;
            width: fit-content;
            background: #00000033;
            backdrop-filter: blur(20px);
            border: 1px solid #0DCDBA33;
            text-transform: uppercase;
            border-radius: 1000px;
            font-size: 1.2rem;
            box-shadow: 1px 1px 4px 0px #0DCDBA, -1px -1px 4px 0px #abede6;
            pointer-events: auto;
            
            a {
                display: flex;
                padding: 1rem 4rem;
            }
        }
    }
}

#campaign {
    margin-bottom: 12vh;

    .header {
        height: 24rem;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .title-background {
            position: absolute;
            height: 100%;
            left: -16px;

            img {
                height: 100%;
            }

            // &:hover {
            //     left: -200px
            // }
        }

        .title {
            font-size: 6rem;
            font-weight: bold;
            color: #fff;
            text-align: center;

            text-shadow:
                /* White glow */
                0 0 7px #ffffff33,
                0 0 10px #ffffff33,
                0 0 21px #ffffff33,
                /* Green glow */
                0 0 42px #0DCDBA,
                0 0 82px #0DCDBA,
                0 0 92px #0DCDBA,
                0 0 102px #0DCDBA,
                0 0 151px #0DCDBA;
        }
    }

    .post-cards {
        margin: 12vh 8rem 0 8rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 4rem;

        .card {
            display: flex;
            border-radius: 24px;
            overflow: hidden;
            aspect-ratio: 16/9;

            img {
                // display: flex;
                height: 100%;
                width: 100%;
            }
        }
    }
}